$primary:#9356DC;
$secondary:#FF79DA;
$tertiaire:#99E2D0;
$color-white:#ffffff;
$spacing-xs: 0.5rem;
$spacing-base: 1rem;
$spacing-xl: 2rem;
$spacin-xxl: 3rem;
$font-size-base: 1.5rem;
$font-size-xl: 2rem;
$font-size-xs: 1rem;
$font-size-xss: .8rem;
$fon-size-number: .7rem;
$width-footer-logo: .7rem;
$height-button: 3rem;
$box-shadow: 3px 3px 10px -6px #000000;
$inset-box-shadow: inset 0px 0px 5px 0px #000000;
$header-localisation-box: inset 0px 2px 3px -2px #000000;
$opacity-header: .8;
$height-link: 4rem;
$border-radius-xs: .2rem;
$height-img: 10rem;
$padding-number: 0.3rem 0.5rem;
$paddin-heart: .3rem .8rem;
$width-heart: 1.5rem;
$top-footer: 9rem;
$xxs-pourcent:10%;
$xs-pourcent:20%;
$mid-pourcent:50%;
$xl-pourcent:80%;
$xxl-pourcent:90%;
$border-base:solid 1px;
$border-xl:solid 2px;
$color-hover-link: rgb(242, 235, 247);
$back-color-card-new:rgb(149, 224, 212);
$color-card-new:rgb(71, 145, 126);
$back-color-main:rgb(245, 244, 244);
$first-color-button:rgba(147, 86, 220, 1);
$second-color-button:rgba(255, 121, 218, 1);
$back-color-footer:rgb(43, 43, 43);
$back-color-header-localisation:rgb(236, 236, 236);
$position-number:-12px;
$width-button:75%;
$min-max-height-header-resto:11rem;
$width-height-loading:75px;
$top-left-loading-page:-10px;
$border-radius-loading:50px;
$border-loading:solid 10px rgba(190, 190, 190, 0.6);
$border-loading-transparent:solid 10px transparent;