
.footer{
    background-color: $back-color-footer;
    padding-left: $spacing-base;
    padding-top: $spacing-base;
    padding-bottom: $spacing-base;
    position: relative;
    &__title{
        color: $color-white;
        font-family: Shrikhand;
    }
    &__nav{
        display: flex;
        flex-direction: column;
    }
    &__link{
        @extend %link;
    }
    &__logo{
        color:$color-white;
        width: $width-footer-logo;
        padding-right: $spacing-xs;
        font-size: $font-size-xss;
    }
    &__info{
        margin-bottom: $spacing-xs;
    }
}
