@import "../abstracts/variables";
@import "../components/buttons";
@import "../abstracts/mixins";
.header-home{
  position: relative;
}
.header-title {
  display: flex;
  width: $xl-pourcent;
  margin: 0 auto;
  padding-top: $spacing-base;
  &__logo {
    width: $mid-pourcent;
    margin: auto;
  }
}
.header-localisation {
  @include displayCenter;
  box-shadow: $header-localisation-box;
  background-color: $back-color-header-localisation;
  margin-bottom: $spacing-base;
  margin-top: $spacing-xs;
  &__title {
    padding-left: $spacing-base;
    font-size: $font-size-xs;
    margin-right: $spacing-base;
  }
}
.header-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $xl-pourcent;
  margin-left: auto;
  margin-right: auto;
  &__subtitle {
    margin: 0;
    text-align: center;
    margin: $spacing-xl 0 $spacing-xs 0;
  }
  &__text {
    text-align: center;
    margin-bottom: $spacing-xl;
    font-weight: 200;
  }
  &__button {
    @extend %button;
  }
}
.loading-page{
  width: 100vw;
  position: fixed;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  display: flex;
  z-index: 1;
  animation: loading 1.5s linear forwards;
  &__quart{
    position: relative;
    width: $width-height-loading;
    height: $width-height-loading;
    display: block;
    border-radius: $border-radius-loading;
    border: $border-loading;
    animation: refresh 1.5s linear forwards;
  }
  &__quart::after{
    content: '';
    position: absolute;
    height: $width-height-loading;
    width: $width-height-loading;
    top: $top-left-loading-page;
    left: $top-left-loading-page;
    border-radius: $border-radius-loading;
    border-top-color:$primary ;
    border: $border-loading-transparent;
    animation: spin 1s linear 0s infinite;
  }
  }
.header{
    display: flex;
    margin-top: $spacing-xs;
    margin-bottom: $spacing-xs;
    align-items: center;
    &__img{
        margin-left: $spacing-xs;
    }
    &__logo{
        width: $mid-pourcent;
        margin: auto;
    }
    &__restaurant{
        width: 100%;
        position: absolute;
        object-fit: cover;
        min-height: $min-max-height-header-resto;
        max-height: $min-max-height-header-resto;
    }
}
  
  @keyframes spin {
    0%{transform: rotate(0deg); border-top-color: $primary; opacity: 1;}
    50%{border-top-color: $secondary;}
    100%{transform: rotate(360deg); border-top-color: $tertiaire;}
  }
  @keyframes refresh{
    0%{opacity: 1;}
    99%{opacity: 1;}
    100%{opacity: 0;}
  }
  @keyframes loading {
    0%{z-index: 1;}
    99%{z-index: 1;}
    100%{z-index: -1;}
  }
   
 