@import "../abstracts/variables";
@import "../components/card";
.main-home{
  position: relative;
}
.main-title {
  margin-left: $spacing-base;
  &__link {
    width: $xxl-pourcent;
    display: flex;
    height: $height-link;
    align-items: center;
    border: none;
    border-radius: $spacing-base;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-base;
    box-shadow: $box-shadow;
    &:hover{
      background-color: $color-hover-link;
      .main-title__logo{
        color: $primary;
      }
    }
  }
  &__number {
    position: absolute;
    left: $position-number;
    border: $border-base;
    border-radius: $spacing-base;
    padding: $padding-number ;
    font-size: $fon-size-number;
    background-color: $primary;
    color: $color-white;
  }
  &__button {
    font-size: $font-size-xss;
    border: none;
  }
  &__logo {
    padding-left: $spacin-xxl;
    padding-right: $spacing-base;
    opacity: 0.6;
  }
}
.group-card{
    width: $xxl-pourcent;
    margin-left: auto;
    margin-right: auto;
}
.card{
    @extend %card;
    &__info{
        position: relative;
    }
    &__img{
        width: 100%;
        height: $height-img;
        object-fit: cover;
        border-radius: $spacing-base $spacing-base 0 0;
    }
    &__link{
      color: black;
      text-decoration: none;
    }
    &__heart{
        width: $width-heart;
        position: absolute;
        right: $spacing-xl;
        bottom: $spacing-xl;
        &__full{
            fill: transparent;
            &:hover{
               animation: color 1s linear 0s;
               fill: url(#fill-hover); 
            }
        }
    }
    &__title{
        margin: $spacing-base $spacing-xs $spacing-xs $spacing-xs;
    }
    &__text{
        margin: $spacing-xs;
        font-weight: 200;
        padding-bottom: $spacing-base;
    }
    &__new{
        position: absolute;
        background-color: $back-color-card-new;
        right: $spacing-xl;
        color: $color-card-new;
        padding: $paddin-heart;
        font-size: $font-size-xss;
        font-weight: bold;
        border-radius: $border-radius-xs;
    }
    
}
.main {
  position: relative;
  top: $top-footer;
  border-radius: $spacing-base;
  width: 100%;
  background-color: $back-color-main;
  &__title {
    padding-top: $spacing-base;
    font-family: Shrikhand;
    font-size: $font-size-base;
    padding-left: $spacing-base;
  }
  &__subtitle {
    font-weight: 200;
    margin-left: $spacing-base;
    border-bottom: $border-xl $tertiaire;
    width: $spacing-xl;
  }
  &__button {
    @extend %button__menu;
  }
}
.main-card {
  @extend %card__menu;
  &:hover{
    .main-card__logo{
      animation: rotate 1s;
    }
    .main-card__animation{
      display: flex;
      animation: left 1s;
    }
  }
  &__title {
    margin: $spacing-xs 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__info {
    margin-left: $spacing-base;
    width: $xxl-pourcent;
    overflow: hidden;
  }
  &__plat {
    margin: $spacing-xs 0;
    font-size: $font-size-xss;
    font-weight: 200;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__price {
    margin: $spacing-xs 0;
    padding-right: $spacing-base;
    font-size: $font-size-xss;
    display: flex;
    align-items: flex-end;
    width: $xxs-pourcent;
    justify-content: flex-end;
  }
  &__animation{
    display: none;
    width: $xs-pourcent;
    background-color: $tertiaire;
    border-radius: 0 $spacing-base $spacing-base 0;
    &:hover{
      display: flex;
      animation: left .3s;
    }
  }
  &__logo{
    margin: auto;
    color: $color-white;
    &:hover{
     animation: rotate 1s;
    }
  }
}
.card__heart{
  width: $spacing-xl;
  position: absolute;
  top: $spacing-base;
  right: $spacing-base;
  &__full{
    fill: transparent;
    &:hover{
        animation: color 1s linear 0s;
        fill: url(#fill-hover); 
    }
  }
}

@keyframes left{
  0% {width: 0%;}
  100% {width: $xs-pourcent;}
}

@keyframes rotate{
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes color{
  0% {fill: transparent }
  50%{opacity: 0.5;}
  100% {fill: url(#fill-hover)}
}

@keyframes slide-top{
  0% {transform: translateY(+30px); opacity: 0;}
  100% {transform: translateY(0px); opacity: 1;}
}

@keyframes color{
  0% {fill: transparent }
  50%{opacity: 0.5;}
  100% {fill: url(#fill-hover)}
}
