

.main-title {
  margin-left: $spacing-base;
  &__link {
    @extend %link__index;
      .main-title__logo{
        color: $primary;
      }
    }
  
  &__number {
    position: absolute;
    left: $position-number;
    border: $border-base;
    border-radius: $spacing-base;
    padding: $padding-number ;
    font-size: $fon-size-number;
    background-color: $primary;
    color: $color-white;
  }
  &__button {
    font-size: $font-size-xss;
    border: none;
  }
  &__logo {
    padding-left: $spacin-xxl;
    padding-right: $spacing-base;
    opacity: 0.6;
  }
}
.group-card{
    width: $xxl-pourcent;
    margin-left: auto;
    margin-right: auto;
}
.card{
    @extend %card;
    &__info{
        position: relative;
    }
    &__img{
        width: 100%;
        height: $height-img;
        object-fit: cover;
        border-radius: $spacing-base $spacing-base 0 0;
    }
    &__link{
      color: $color-black;
      text-decoration: none;
    }
    &__title{
        margin: $spacing-base $spacing-xs $spacing-xs $spacing-xs;
    }
    &__text{
        margin: $spacing-xs;
        font-weight: 200;
        padding-bottom: $spacing-base;
    }
    &__new{
        position: absolute;
        background-color: $back-color-card-new;
        right: $spacing-xl;
        color: $color-card-new;
        padding: $paddin-heart;
        font-size: $font-size-xss;
        font-weight: bold;
        border-radius: $border-radius-xs;
    }
    
}
.main {
  position: relative;
  top: $top-footer;
  border-radius: $spacing-base;
  width: 100%;
  background-color: $back-color-main;
  &__title {
    padding-top: $spacing-base;
    font-family: Shrikhand;
    font-size: $font-size-base;
    padding-left: $spacing-base;
  }
  &__subtitle {
    font-weight: 200;
    margin-left: $spacing-base;
    border-bottom: $border-xl $tertiaire;
    width: $spacing-xl;
  }
  &__button {
    @extend %button__menu;
  }
}
.main-card {
  @extend %card__menu;
  &:hover{
    .main-card__logo{
      animation: rotate 1s;
    }
    .main-card__animation{
      display: flex;
      animation: left 1s;
    }
  }
  &__title {
    margin: $spacing-xs 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__info {
    margin-left: $spacing-base;
    width: $xxl-pourcent;
    overflow: hidden;
  }
  &__plat {
    margin: $spacing-xs 0;
    font-size: $font-size-xss;
    font-weight: 200;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__price {
    margin: $spacing-xs 0;
    padding-right: $spacing-base;
    font-size: $font-size-xss;
    @include displayFlexEnd;
    width: $xxs-pourcent;
  }
  &__animation{
    display: none;
    width: $xs-pourcent;
    background-color: $tertiaire;
    border-radius: 0 $spacing-base $spacing-base 0;
    &:hover{
      display: flex;
      animation: left .3s;
    }
  }
  &__logo{
    margin: auto;
    color: $color-white;
    &:hover{
     animation: rotate 1s;
    }
  }
}
.card__heart{
  width: $spacing-xl;
  position: absolute;
  top: $spacing-base;
  right: $spacing-base;
  &__full{
    fill: transparent;
    &:hover{
        animation: color 1s linear 0s;
        fill: url(#fill-hover); 
    }
  }
}
  
