@import "./theme.scss";
.main-title {
  margin-left: $spacing-base;
  &__link {
    width: $xl-pourcentage;
    display: flex;
    height: $height-link;
    align-items: center;
    border: none;
    border-radius: $spacing-base;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-base;
    box-shadow: $box-shadow;
    &:hover{
      background-color: rgb(242, 235, 247);
      .main-title__logo{
        color: $primary;
      }
    }
  }
  &__number {
    position: absolute;
    left: -12px;
    border: solid 1px;
    border-radius: $spacing-base;
    padding: $padding-number ;
    font-size: $fon-size-number;
    background-color: $primary;
    color: white;
  }
  &__button {
    font-size: $font-size-xss;
    border: none;
  }
  &__logo {
    padding-left: $spacin-xxl;
    padding-right: $spacing-base;
    opacity: 0.6;
  }
}
.group-card{
    width: $xl-pourcentage;
    margin-left: auto;
    margin-right: auto;
}
.card{
    box-shadow: $box-shadow;
    border-radius: $spacing-base;
    position: relative;
    margin-bottom: $spacing-base;
    &:hover{
      transform: scale(1.05);
    }
    &__info{
        position: relative;
    }
    &__img{
        width: 100%;
        height: $height-img;
        object-fit: cover;
        border-radius: $spacing-base $spacing-base 0 0;
    }
    &__link{
      color: black;
      text-decoration: none;
    }
    &__heart{
        width: $width-heart;
        position: absolute;
        right: $spacing-xl;
        bottom: $spacing-xl;
        &__full{
            fill: transparent;
            &:hover{
               animation: color 1s linear 0s;
               fill: url(#fill-hover); 
            }
        }
    }
    &__title{
        margin: $spacing-base $spacing-xs $spacing-xs $spacing-xs;
    }
    &__text{
        margin: $spacing-xs;
        font-weight: 200;
        padding-bottom: $spacing-base;
    }
    &__new{
        position: absolute;
        background-color: rgb(149, 224, 212);
        right: $spacing-xl;
        color: rgb(71, 145, 126);
        padding: $paddin-heart;
        font-size: $font-size-xss;
        font-weight: bold;
        border-radius: $border-radius-xs;
    }
    
}
.main {
  position: relative;
  top: $top-main;
  border-radius: $spacing-base;
  background-color: white;
  width: 100%;
  background-color: rgb(245, 244, 244);
  &__title {
    padding-top: $spacing-base;
    font-family: Shrikhand;
    font-size: $font-size-base;
    padding-left: $spacing-base;
  }
  &__subtitle {
    font-weight: 200;
    margin-left: $spacing-base;
    border-bottom: solid 2px #99E2D0;
    width: $spacing-xl;
  }
  &__button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: $spacin-xxl;
    align-items: center;
    width: $mid-pourcentage;
    justify-content: center;
    border-radius: $spacing-xl;
    color: white;
    border: none;
    background: linear-gradient(
      350deg,
      rgba(147, 86, 220, 1) 37%,
      rgba(255, 121, 218, 1) 98%
    );
    box-shadow: $box-shadow;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
    &:hover {
      opacity: 0.8;
      box-shadow: $inset-box-shadow;
    }
  }
}
.main-card {
  box-shadow: $box-shadow;
  border-radius: $spacing-base;
  margin: 0 $spacing-xs;
  display: flex;
  margin-bottom: $spacing-base;
  background-color: white;
  animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  &:hover{
    transform: scale(1.01);
    .main-card__logo{
      animation: rotate 1s;
    }
    .main-card__animation{
      display: flex;
      animation: left 2s;
    }
  }
  &__title {
    margin: $spacing-xs 0;
  }
  &__info {
    margin-left: $spacing-base;
    width: $xl-pourcentage;
  }
  &__plat {
    margin: $spacing-xs 0;
    font-size: $font-size-xss;
    font-weight: 200;
  }
  &__price {
    margin: $spacing-xs 0;
    padding-right: $spacing-base;
    font-size: $font-size-xss;
    display: flex;
    align-items: flex-end;
    width: $xxs-pourcentage;
    justify-content: flex-end;
  }
  &__animation{
    display: none;
    width: $xs-pourcentage;
    background-color: #99E2D0;
    border-radius: 0 $spacing-base $spacing-base 0;
    &:hover{
      display: flex;
      animation: left 2s;
    }
  }
  &__logo{
    margin: auto;
    color: white;
    &:hover{
     animation: rotate 1s;
    }
  }
}
.card__heart{
  width: $spacing-xl;
  position: absolute;
  top: $spacing-base;
  right: $spacing-base;
  &__full{
    fill: transparent;
    &:hover{
        animation: color 1s linear 0s;
        fill: url(#fill-hover); 
    }
  }
}

@keyframes left{
  0% {width: 0%;}
  100% {width: 20%;}
}

@keyframes rotate{
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes color{
  0% {fill: transparent }
  50%{opacity: 0.5;}
  100% {fill: url(#fill-hover)}
}

@keyframes slide-top{
  0% {transform: translateY(+30px); opacity: 0;}
  100% {transform: translateY(0px); opacity: 1;}
}

@keyframes color{
  0% {fill: transparent }
  50%{opacity: 0.5;}
  100% {fill: url(#fill-hover)}
}
